.App {
  text-align: center;
}

.Day {
  background: #acd1e9;
  color: #c28285;
}

.Night {
  background: #222;
  color: #c28285;
}

.project_link{
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
}