.languages {
    height: 400px;
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }
  
  .language {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: blanchedalmond;
    border: 1px solid #222;
    margin: 2px;
  }
  
  .voteCount {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .language button {
    color: rgb(201, 98, 161);
    background-color: rgba(230, 62, 146, 0.349);
    border: 2px solid rosybrown;
    font-size: 20px;
    outline: none;
    cursor: pointer;
  }
    .language button:hover{
        background-color: rgba(230, 62, 146, 0.205);
    }